h2{
    font-size: 22px;
    font-family: sohneLight;
    opacity: .7;
    margin-bottom: 1rem;
}
h1{
    font-family:sohne;
    font-size:25px;
    opacity: .7;
 
}
.footer-wrapper{
    margin-top:3rem;
    
    border-top:1px solid rgb(128, 128, 128 ,.3);
    padding:5rem 10rem;
}

button{
    margin-top:2rem;
    .pi{
        
        margin-right: .5rem;
    }
}

hr{
    margin-top:3rem;
    opacity: .5;
    height: 1px;
    width: 80vw;
    

}