<div class="herobanner-root">
    <div class="main-content-card-wrapper">
        
        <div class="menu-bar-wrapper flex align-center justify-between">
             <div class="flex align-center justify-center logo-wrapper">
                <img class="logo-img" src="../../../assets/fitness/icons8-gym-100.png"> <span class="logo-styling">TM Fitness</span>
             </div>

             <div class="menu-bar-wrapper">
                <label>Home</label>
                <label>Services</label> 
                <label>Blog</label>
                <label>Contact</label>
                
            </div>
             <div class="button-wrapper flex align-center">
                <button class="login">Log in</button>
                <button class="signup">Sign Up</button>
             </div>
        </div>

       <div class="flex align-center">
        <div class="content-left">

            <h6>Trust the process</h6>
            <h1>Transform Your <span>Fitness</span> Into Shape</h1>

            <h3>Beyond Ordinary, Beyond Limits – Your Fitness Destination Awaits.</h3>

            <div class="button-wrapper-banner ">
                <button class="start">Get Started</button>
                <button class="video">Watch Video</button>
             </div>
        </div>

        <div class="content-right">
            <!-- <img src="../../../assets/fitness/bannerimage.jpeg"> -->
        </div>
       </div>


    </div>
</div>