<div class="mobile-view-root flex align-center justify-center">

    <div class="flex align-center content-container-wrapper justify-between">
        <div class="QR-content-container flex flex-col align-center">
            <h1> Even More <span>Mobile Friendly </span> <br>Interface</h1>
            <p>New <span>Toolbar</span> designed specifically for handheld devices to further improve user experience.</p>
            
            <h6>Scan QR code below to test on your device:</h6>
            <img class="QR-image" src="../../../assets/images/qrcode.png">
        </div>
        <img src="../../../assets/images/handheld-toolbar.jpg">
    </div>

</div>