<div class="header-root flex align-center justify-center">
    <div class="header-parent flex align-center justify-between">


      <div class="flex align-center">
        <img class="logo" src="../../../assets/images/logo-dark.png">
        <div class="menu-wrapper">
            <label >Home</label>
            <label>Shop</label>
            <label>Account</label>
            <label>Pages</label>
            <label>Blog</label>
            <label>Docs / Components</label>
            
        </div>
      </div>
        <button class="buttonStyling pointer">
            <i class="pi pi-cart-plus"></i> <span>Buy now</span>
        </button>
    </div>
</div>