<div class="ourteam-root flex  justify-center">
    <div class="card-wrapper">
            <h1> Meet our Team</h1>

            <p>Empowering your journey, our expert trainers are the catalysts to unlock your fitness greatness.</p>


            <div class="team-cards-wrapper flex align-center justify-between">
                <div class="card-parent">
                    <div  class="card">
                        <div class="image-wrapper">
                                <img src="../../../assets/fitness/trainer1.avif">
                        </div>
                        <div class="details   justify-center" [@fadeIn]>
                                <h6>
                                    "As the CEO and Co-Founder, I am driven by a relentless passion to innovate and inspire. With a vision to create meaningful impact, I lead by example, fostering a culture of collaboration and excellence. Every challenge is an opportunity, and every success is a testament to the dedication of our incredible team. Together, we are shaping a future where ambition meets purpose, and I am honored to spearhead this journey towards greater possibilities."
                                </h6>
                        </div>
                    </div>
                    <div class="info-wrapper">
                        <h6>Talha Nazir</h6>
                        <label> Co-founder & CEO </label>
                    </div>
                </div>
                <div class="card-parent">
                    <div  class="card">
                        <div class="image-wrapper">
                            <img src="../../../assets/fitness/trainer3.jpg">
                        </div>
                        <div class="details   justify-center" [@fadeIn]>
                            <h6>
                                "As the CEO and Co-Founder, I am driven by a relentless passion to innovate and inspire. With a vision to create meaningful impact, I lead by example, fostering a culture of collaboration and excellence. Every challenge is an opportunity, and every success is a testament to the dedication of our incredible team. Together, we are shaping a future where ambition meets purpose, and I am honored to spearhead this journey towards greater possibilities."
                            </h6>
                    </div>
                    </div>
                    <div class="info-wrapper">
                        <h6>Talha Nazir</h6>
                        <label> Fitness Trainer & Co-founder</label>
                    </div>
                </div>
                <div class="card-parent">
                    <div  class="card">
                        <div class="image-wrapper">
                            <img src="../../../assets/fitness/trainer2.png">
                        </div>
                        <div class="details   justify-center" [@fadeIn]>
                            <h6>
                                "As the CEO and Co-Founder, I am driven by a relentless passion to innovate and inspire. With a vision to create meaningful impact, I lead by example, fostering a culture of collaboration and excellence. Every challenge is an opportunity, and every success is a testament to the dedication of our incredible team. Together, we are shaping a future where ambition meets purpose, and I am honored to spearhead this journey towards greater possibilities."
                            </h6>
                    </div>
                    </div>
                    <div class="info-wrapper">
                        <h6>Talha Nazir</h6>
                        <label> Fitness Trainer </label>
                    </div>
                </div>
               
              
                
            </div>
    </div>
</div>