<div class="herobanner-root flex align-center justify-center">

    <div>
        <h1>
            <span > Multipurpose<span class="bold"> Angular 17 & Bootstrap<br> 5</span> <br><span class="bold">E-Commerce</span> Template
        </span>    
        </h1>
    
        <div class="services-wrapper flex justify-between align-center ">
            <h2 class="light">Single / Multi-vendor</h2>
            <h2 class="bold">Marketplace</h2>
            <h2 class="light">Fashion</h2>
            <h2 class="bold">Electronics</h2>
        </div>
        <div class="services-wrapper flex justify-between align-center ">
            <h2 class="light">Cart</h2>
            <h2 class="bold">NFT</h2>
            <h2 class="light">Checkout</h2>
            <h2 class="bold">Grocery Store</h2>
            <h2 class="light">Account / Dashbaord</h2>
        </div>
        <div class="services-wrapper flex justify-center align-center ">
            <h2 class="bold">Food Delivery</h2>
        </div>

        <div class="flex align-center justify-center button-wrapper">
            <button class="pointer" (click)="sendSignal()"> View Demos <i class="pi pi-chevron-circle-down"></i></button>
        </div>
    </div>
</div>